{% extends "layout.html" %}
{% block content %}

	<h1>How to contribute</h1>
	
	<h4>Interested in contributing to Seeing Science?</h4>
	
	<article class="media content-section">
		<div class="media-body">
		
			<p class="article-content">That's great! The idea behind Seeing Science is a community-driven collaboration.</p>
			
			<p class="article-content">To contribute, head on over to <a href="https://github.com/delaneydunne/seeing-science">github.com/delaneydunne/seeing-science</a>. Given the spirit of the project is open source collaboration, contributing is as simple as making a Pull Request! Simply fork the repo, add your assets to seeing_science/static/your_name_here and you're done! To follow an example, please click <a href="static/ligo/content.json">here</a>.</p>
			
		</div>
	</article>
	
{% endblock content %}