{% extends "layout.html" %}
{% block content %}

	<h1>We confuse each other.</h1>
	<h2>Let's change that.</h2>
	
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">Seeing science (SS) is a platform that serves to increase the accessibility of science through <b>visual representations</b>. Although people may come from many different backgrounds, SS provides a database of scientific animations to assist education.</p>
			
			<p class="article-content">The operation is <b>community-driven</b>. That is, by following our <a href="{{ url_for('contribute') }}">contribution guidelines,</a>, anyone from enthusiastic students to retired professors can generate animations! In fact, it is encouraged that users also submit the code they used to generate these animations.</p>
			
			<p class="article-content">To ensure proper outreach of the platform, SS utilizes a <b>level system</b>. Based off your previous scientific experience, animations and explanations are set to your level of background to maximize your understanding.</p>
			
			<p class="article-content">By following these norms, Seeing Science strives to promote community collaboration and education in a style that is accessible to all and permanently available.</p>
		</div>
	</article>

{% endblock content %}