{% extends "layout.html" %}
{% block content %}

	<h1>Level System</h1>

	<h4>In order to increase accessibility, the scientific articles provided in this website are tailored to different levels of scientific backgrounds. The 4 different levels are listed and explained below.</h4>
	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<h2><a class="mr-2">Difficulty: Level 1 - General Audience</a></h2>
			</div>
			<p class="article-content">Unsure of your scientific background? Forget how to multiply sometimes? No problem, level 1 is meant to be understandable to everyone ranging from children to the elderly.</p>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<h2><a class="mr-2">Difficulty: Level 2 - Interested Listener</a></h2>
			</div>
			<p class="article-content">Level 2 concerns the reader who is interested in the sciences, without necessarily having much formal training. If you like black holes and understand that they suck in everything around them, but don't know why, this is the level for you.</p>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<h2><a class="mr-2">Difficulty: Level 3 - Refined Scholar</a></h2>
			</div>
			<p class="article-content">For people who have completed bachelor's degrees in the sciences. Despite not being an expert in the field at hand, your scientific background makes you suited to learn quickly and pickup on obscure topics.</p>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<h2><a class="mr-2">Difficulty: Level 4 - Master</a></h2>
			</div>
			<p class="article-content">You write textbooks in your sleep.</p>
		</div>
	</article>
	
	<p>Still unsure of what category you fall into? Take <a href="{{ url_for('quiz') }}">this</a> quick quiz to place yourself!</p>

{% endblock content %}