{% extends "layout.html" %}
{% block content %}

	<h1>Quiz</h1>

	<h4>From the following, pick the description that best describes your understanding of the word <b><i>parsec.</i></b></h4>
	
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">I have never heard of this word before.</p>
			<div class="article-metadata"></div>
			<a class="mr-2">&rarr; Difficulty Level 1</a>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">A parsec is a way to measure distances, usually very big distances.</p>
			<div class="article-metadata"></div>
			<a class="mr-2">&rarr; Difficulty Level 2</a>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">The average distance between stars within a galaxy is around a parsec.</p>
			<div class="article-metadata"></div>
			<a class="mr-2">&rarr; Difficulty Level 3</a>
		</div>
	</article>
	
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">The parsec is defined as the parallax distance for an angle of one arcsecond.</p>
			<div class="article-metadata"></div>
			<a class="mr-2">&rarr; Difficulty Level 4</a>
		</div>
	</article>
	
{% endblock content %}