{% extends "layout.html" %}
{% block content %}
	{% for post in posts %}
		
		{% if post.title %}
		
			<article class="media content-section">
				<div class="media-body">
					<h1><a class="article-title">{{ post.title }}</a></h1>
					<div class="article-metadata">
						{% if post.url %}
							<a class="mr-2" href={{ post.url }}>Authors: {{ post.authors }}</a>
						{% else %}
							<a class="mr-2">Authors: {{ post.authors }}</a>
						{% endif %}
						<small class="text-muted">Date posted: {{ post.date }}</small>
					</div>
				</div>
			</article>
			
		{% elif post.level %}
		
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h2><a class="mr-2">Difficulty: Level {{ post.level }}</a></h2>
					</div>
					{% if post.url %}
						<a class="mr-2" href="{{ post.url }}">Click here.</a>
					{% else %}
						<p class="article-content">{{ post.text }}</p>
					{% endif %}
				</div>
			</article>
			
		{% elif post.text %}
		
			<article class="media content-section">
				<div class="media-body">
					<p class="article-content">{{ post.text }}</p>
				</div>
			</article>
		
		{% elif post.figname %}
		
			<article class="media content-section">
				<div class="media-body">
					<img src="{{ url_for('static', filename=post.figname) }}">
					<i><p class="article-content">{{ post.caption }}</p></i>
					{% if post.generator %}
						<a class="mr-2" href="{{ url_for('static', filename=post.generator) }}">Source code</a>
					{% endif %}
				</div>
			</article>
		
		{% endif %}
		
	{% endfor %}
{% endblock content %}