{% extends "layout.html" %}
{% block content %}
	{% for post in posts %}
		
		{% if post.title %}
		
			<h1>{{ post.title }}</h1>
			<article class="media content-section">
				<div class="media-body">
					<h2><a class="article-title">{{ post.title }}</a></h2>
					<h3><p class="article-content">{{ post.authors }}</p><h3>
					<h3><p class="article-content">{{ post.date }}</p><h3>
				</div>
			</article>
			
		{% elif post.text %}
		
			<article class="media content-section">
				<div class="media-body">
					<p><a class="article-title">{{ post.text }}</a></p>
				</div>
			</article>
			
		{% elif post.level %}
		
			<article class="media content-section">
				<div class="media-body">
					<h2><a class="article-title">Level {{ post.level }}</a></h2>
					<p><p class="article-content">{{ post.text }}</p><p>
				</div>
			</article>
		
		{% elif post.figname %}
		
			<article class="media content-section">
				<div class="media-body">
					<img src="{{ url_for('static', filename='polymer.gif') }}">
					<h2><a class="article-title">Level {{ post.figname }}</a></h2>
					<p><i><p class="article-content">{{ post.caption }}</p></i><p>
				</div>
			</article>
		
		{% endif %}
	
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted }}</small>
				</div>
				<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
				<p class="article-content">{{ post.content }}</p>
			</div>
		</article>
	{% endfor %}
{% endblock content %}